@model PayBillModel;
@using test.Controllers;
@{
    ViewData["Title"] = "PayBill";
    decimal totalPrice = 0;
}
<link rel="stylesheet" type="text/css" href="css/site.css">

<br>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-white bg-dark col-12 col-md-10 align-items-center">
        <div class="card-header">
            <h3>Pay Bill</h3>
        </div>
        <div class="card-body w-100 p-0 d-flex flex-column align-items-center">
            <div class="table-container" style="max-height: 60vh; overflow-y: auto; width:100%">
                <table class="table table-hover">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            
                            <th scope="col">Order ID</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Item Type</th>
                            <th scope="col">Item Price</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach(var item in Model.ListOrderDetails)
                            {
                            totalPrice += Convert.ToDecimal(item.itemPrice);
                            <tr>
                                <td>@item.orderId</td>
                                <td>@item.itemName</td>
                                <td>@item.itemType</td>
                                <td>@item.itemPrice</td>
                            </tr>
                            }
                    </tbody>
                </table>

               </div>
            <div class="form-group">
                <label class="form-label mt-4"></label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Total</span>
                        <span class="input-group-text">$@totalPrice</span>
                    </div>
                </div>
            </div>
            <div class="btn-group m-3 w-100 m-3">
                <!--If Pay Button is clicked assign availibility to unavailible-->
                <button type="button" class="btn btn-danger">Back</button>
                <button type="button" class="btn btn-success" href="/PayBill/Pay?orderId=">Pay</button>
            </div>
        </div>
    </div>
</div>