@model EditOrdersModel;
@{
    ViewData["Title"] = "EditOrders";
}
<link rel="stylesheet" type="text/css" href="css/site.css">

<h1>Edit Orders</h1>

<div class="sellables-container">
    <div class="register-wrapper align-content-lg-start">
        <div class="customer">
            <input type="text" placeholder="Search Order Items" />
            <input type="button" value="Search" />
        </div>

        <h4>Order Items</h4>
        <div class="register">
            <div class="products">
                <div class="product-bar selected">
                    <span>Cookies</span>
                    <span>€5.00</span>
                </div>

                <div class="product-bar">
                    <span>Vodka</span>
                    <span>€5.00</span>
                </div>

                <div class="product-bar">
                    <span>Bulmers</span>
                    <span>€5.00</span>
                </div>
            </div>

            <div class="total">
                <p>Total €15.00</p>
            </div>
        </div>
    </div>
    <div class="sellables align-content-lg-end">
        <div class="categories">
            <a class="category active" href="#">Beverages</a>
            <a class="category" href="#">Non-Alcoholic</a>
            <a class="category" href="#">Lunch Menu</a>
            <a class="category" href="#">Dinner Menu</a>
            <a class="category" href="#">Bar Snacks</a>
            <a class="category" href="#">Deals</a>
            <a class="category" href="#">Off-Sale Bottles</a>
        </div>

        <h4>Menu Items</h4>

        <div class="item-group-wrapper">
            <!--https://bootsnipp.com/snippets/rz-->
            <!--Table for menu items-->
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Availability</th>
                                    <th>Price(€)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vodka</td>
                                    <td>This is a vodka</td>
                                    <td>
                                        <span class="label label-success">A</span>
                                    </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Bulmers</td>
                                    <td>This is a bulmers cider</td>
                                    <td>
                                        <span class="label label-important">N</span>
                                    </td>
                                    <td>0.25</td>
                                </tr>
                                <tr>
                                    <td>Guiness</td>
                                    <td>This is a pint of Guniness</td>
                                    <td>
                                        <span class="label">A</span>
                                    </td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Pina Colada</td>
                                    <td>This is a Pina Colada cocktail</td>
                                    <td>
                                        <span class="label label-warning">R</span>
                                    </td>
                                    <td>8.5</td>
                                </tr>
                                @foreach (var item in Model.ListOrderDetails)
                                {
                                    totalPrice += Convert.ToDecimal(item.itemPrice);
                                    <tr>
                                        <td>@item.orderId</td>
                                        <td>@item.itemName</td>
                                        <td>@item.itemType</td>
                                        <td>@item.itemPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottomBar">
    <div class="removeFromOrderBtn">
        <input type="button" value="Remove from Order" />
    </div>
    <div class="quantity">
        <p>Quantity:</p>
        <input type="number" placeholder="0" />
        <input type="button" value="Add to Order" />
    </div>
    <div class="backBtn">
        <input type="button" value="Back" />
    </div>
</div>