@model EditOrdersModel;
@{
    ViewData["Title"] = "EditOrders";
}
<link rel="stylesheet" type="text/css" href="css/site.css">
<nav>
    <ul>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">Commit Order</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
    <div class="search">
        <input type="Search" placeholder="Search..." />
    </div>
</nav>

<h1>EditOrders</h1>

<div class="sellables-container">
    <div class="sellables">
        <div class="categories">
            <a class="category active" href="#">Beverages</a>
            <a class="category" href="#">Non-Alcoholic</a>
            <a class="category" href="#">Lunch Menu</a>
            <a class="category" href="#">Dinner Menu</a>
            <a class="category" href="#">Bar Snacks</a>
            <a class="category" href="#">Deals</a>
        </div>

        <div class="item-group-wrapper">
            <div class="item-group">
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
                <a href="#" class="item">Bud Light</a>
            </div>
        </div>
    </div>
    <div class="register-wrapper">
        <div class="customer">
            <input type="text" placeholder="Customer" />
        </div>

        <div class="register">
            <div class="products">
                <div class="product-bar selected">
                    <span>Cookies</span>
                    <span>€5.00</span>
                </div>

                <div class="product-bar">
                    <span>Vodka</span>
                    <span>€5.00</span>
                </div>

                <div class="product-bar">
                    <span>Bulmers</span>
                    <span>€5.00</span>
                </div>
            </div>

            <div class="pay-button">
                <a href="#">Pay €15.00</a>
            </div>
        </div>
    </div>
</div>