@model LoginModel
@{
    ViewData["Title"] = "LoginHTML";
}

<h1>LoginHTML</h1>

@using (Html.BeginForm())
{
    <div>
        Username: @Html.TextBoxFor(m => m.Username)
    
        Password: @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Login">
    </div>
}