@model LoginModel
@{
    ViewData["Title"] = "LoginTag";
}

<h1>LoginTag</h1>

<form asp-controller="Login" asp-action="LoginTag" method="post">
    <div>
        Username: <input type="text" id="username" asp-for="Username" />

    
        <!--Password: <input type="password" id="password" asp-for="Password" />

        <input type="submit" id="btn" value="Login" />
    </div>
</form>
<script src="~/js/login.js"></script>