@{
    ViewData["Title"] = "Home Page";
}

<form class="enterPin" method="post" action="@Url.Action("VerifyLogin", "Home")">
    <div class="search-bar">
        <input id="searchInput" name="searchInput" class="form-control me-sm-2" type="number" placeholder="Enter Pin" min="0" max="999" required>
        <button class="btn btn-secondary" type="submit">Enter</button>
    </div>
</form>

<div class="pin">
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="1">1</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="2">2</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="3">3</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="4">4</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="5">5</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="6">6</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="7">7</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="8">8</button>
    <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="9">9</button>
    <br />
    <div class="btn0">
        <button type="button" class="btn btn-primary btn-lg" name="searchInput" value="0">0</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".btn.btn-primary.btn-lg");
        const searchInput = document.getElementById("searchInput");

        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                const value = button.textContent;
                if (value !== null) {
                    if (searchInput.value.length < 3) {
                        searchInput.value += value;
                    }
                }
            });
        });
    })
</script>