@{
    ViewData["Title"] = "Home Page";
}

<div class="pin">
    <button type="button" class="btn btn-primary btn-lg">1</button>
    <button type="button" class="btn btn-primary btn-lg">2</button>
    <button type="button" class="btn btn-primary btn-lg">3</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg">4</button>
    <button type="button" class="btn btn-primary btn-lg">5</button>
    <button type="button" class="btn btn-primary btn-lg">6</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg">7</button>
    <button type="button" class="btn btn-primary btn-lg">8</button>
    <button type="button" class="btn btn-primary btn-lg">9</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg">0</button>
</div>